<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.TradeMapper">
	<select id="list" resultType="com.example.domain.TradeVO">
		select t.*, name from tbl_trade t inner join tbl_account a on t.tradeNo = a.ano 
      where t.ano = #{ano} 
      order by tid desc 
	</select>
	
	<insert id="insert">
		insert into tbl_trade(ano, type, tradeNo, amount) 
		values(#{ano}, #{type}, #{tradeNo}, #{amount})
	</insert>
	
	<update id="updateBalance">
		update tbl_account set balance=balance + #{amount}
		where ano=#{ano}
	</update>
</mapper>